<link rel="stylesheet" href="/css/signin.css">
<div id="container">
<h1>Sign In</h1>
<div id=""conatiner>
<form action="/users/create-session" method="post">
    <input type="email" name="email" required>
    <input type="password" name="password" required>
    <input type="submit" value="Sign In">
</form>
<p>If you are not already sign up</p>
<a href="/users/sign-up">Sign up</a>
</div>
</div>